/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    background: #191919;
    color: #fff;
}

/* Header Section */
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 0px 3%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#top {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.header {
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 140px;
    text-align: center;
    margin: 10px 35px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 3px;
}

nav ul li a:hover {
    transform: scale(1.5);
    text-decoration: underline;
}

/* Hero Section */
.hero-pic img {
    width: 100%;
    transition: 0.5s;
    border-radius: 45%;
    margin-left: 45px;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

/* Project Section */
.project-heading {
    font-size: 50px;
    background: #da255d;
    text-align: center;
    margin: 50px 0;
    color: #1a1a1a;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container {
    display: inline;
    grid-template: repeat(2, 1fr);
    grid-gap: 100px;
    width: 30%;
    margin: 6%;
}

.project-card {
    height: 400px;
    position: relative;
}

.project-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: 0.5s;
}

/* About Section */
.about-section {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    margin-left: 15%;
}

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
    margin-left: 12%;
    margin-right: 5%;
}

.about-img-container {
    position: relative;
}

.about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 17px;
    margin-right: 20%;
}

.about-img {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
}

.about-img:hover {
    transform: scale(1.2);
}

.download-cv-btn a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    background: black;
}

.download-cv-btn:hover a {
    background: cadetblue;
    border-radius: 10px;
    color: gold;
}

/* Services Section */
#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
    margin-bottom:50px
}

.bg {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bg img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer1 {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #da255d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.bg:hover img {
    transform: scale(1.1);
}

.bg:hover .layer1 {
    height: 100%;
}

.layer1 h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.bg div:hover {
    background-color: lightgray;
    transform: translateY(-10px);
}

/* Skill Section */
.skill-section {
    position: relative;
    width: 100%;
    display: inline-flexbox;
}

#timeline {
    margin-bottom: 20%;
}

.skills {
    margin-top: 20px;
}

.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin: 100px 0 60px;
}

.skills-container {
    display: inline-block;
    margin: 8%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
    width: 30%;
}

.skillset {
    justify-content: center;
    margin: auto;
    transition: transform 0.1s;
}

/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    object-fit: fill;
    height: 100%;
}

.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#da255d);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
    transition:height(0.5s);
}
.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.layer h3 {
    font-weight: 500;
   
    color: gold;
}

.work div:hover {
    background-color: lightgray;
}

/* Timeline Section */
.timeline {
    display: block;
    width: 80%;
    margin: 150px auto;
}

.timeline .heading {
    margin: 40px 0 150px;
}

.card {
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    position: relative;
    background: #f00;
    margin: 0 60px;
}

.card:nth-child(even) {
    margin-left: auto;
}

.card:nth-child(even):before {
    content: '';
    position: absolute;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after {
    content: '';
    position: absolute;
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(odd):before {
    content: '';
    position: absolute;
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after {
    content: '';
    position: absolute;
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px;
    background: #fff;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before {
    background: #ff4f4f;
}

.card:nth-child(3), .card:nth-child(3):before {
    background: #ffb84f;
}

.card:nth-child(4), .card:nth-child(4):before {
    background: #3dca5c;
}

.card:nth-child(5), .card:nth-child(5):before {
    background: #565252;
}

.card:nth-child(6), .card:nth-child(6):before {
    background: #4fa0ff;
}

.card:nth-child(even) .card-body:before {
    content: '';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff;
    z-index: -1;
}

.card-title {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* Contact Section *//* Contact Section */
.contact-section {
    position: relative;
    opacity: 1;
    transition: 1s;
    padding: 50px 10%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.contact-form {
    width: 100%;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}

.contact-form textarea {
    height: 200px;
    resize: none;
}

::placeholder {
    color: #fff;
}

.form-submit-btn {
    background: #ff4f4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

/* Media Queries for Contact Section */
@media (max-width: 992px) {
    .contact-section {
        padding: 50px 5%;
        grid-template-columns: 1fr;
    }

    .map iframe {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .contact-section {
        padding: 20px;
    }

    .map iframe {
        height: 200px;
    }

    .form-submit-btn {
        padding: 10px 20px;
    }
}
